@import "variables";
@use 'sass:math';

main {
    width: 100%;
    height: auto;
    background-color: $default_bg_color;
    #login-content {
        display: flex;
        flex-direction: column;
        .login-section {
            .login__form-box {
                background-color: white;
                margin: 40px 0px;
                padding: 10px 8px;
                display: flex;
                flex-direction: column;
                #login__form {
                    display: flex;
                    flex-direction: column;

                    .label-input-group {
                        margin: 10px 0;
                        label,
                        input,
                        select {
                            display: block;
                        }
                        input {
                            margin-top: 10px;
                            padding: 10px;
                            border-radius: 0 15px 15px 15px;
                            border: 1px solid rgb(197, 197, 197);
                            outline: none;
                            width: 100%;
                            max-width: 300px;
                        }
                        input:hover {
                            border: 1px solid grey;
                        }
                    }
                }
                .button-link {
                    width: 200px;
                    padding: 10px 0;
                    text-align: left;
                }
                .login__button-row {
                    display: flex;
                    padding: 40px 0;
                    button {
                        width: 200px;
                    }
                }
            }
        }
    }
}

@media only screen and(min-width: 768px) {
    main {
        #login-content {
            .login-section {
                .login__form-box {
                    margin: 60px 0px;
                    padding: 15px 30px;
                }
            }
        }
    }
}
