#employee-nav {
  position: absolute;
  border-left: 3px solid #3d6bd6;
  z-index: 1; }
  #employee-nav .employee-nav__button-row {
    background-color: white; }
    #employee-nav .employee-nav__button-row .employee-nav__toggler {
      display: block;
      background-color: white;
      border: none;
      cursor: pointer;
      transition: 0.8s;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      box-shadow: 6px 6px 8px -2px rgba(187, 187, 187, 0.59);
      -webkit-box-shadow: 6px 6px 8px -2px rgba(187, 187, 187, 0.59);
      -moz-box-shadow: 6px 6px 8px -2px rgba(187, 187, 187, 0.59); }
  #employee-nav .employee-nav__toggler:hover {
    background-color: #769bf1;
    color: white; }
  #employee-nav .employee-nav__list-box {
    background-color: white;
    box-shadow: 6px 6px 8px -2px rgba(187, 187, 187, 0.59);
    -webkit-box-shadow: 6px 6px 8px -2px rgba(187, 187, 187, 0.59);
    -moz-box-shadow: 6px 6px 8px -2px rgba(187, 187, 187, 0.59); }
    #employee-nav .employee-nav__list-box ul {
      display: flex;
      flex-direction: column;
      list-style-type: none; }
      #employee-nav .employee-nav__list-box ul li {
        padding: 20px 30px;
        display: flex;
        align-items: center;
        transition: 0.8s; }
        #employee-nav .employee-nav__list-box ul li img {
          width: 20px;
          height: 20px;
          object-fit: cover; }
        #employee-nav .employee-nav__list-box ul li span {
          margin-left: 15px; }
        #employee-nav .employee-nav__list-box ul li:last-child {
          border-top: 1px solid #d3d7df; }
      #employee-nav .employee-nav__list-box ul li:hover {
        background-color: #769bf1;
        color: white;
        cursor: pointer; }

@media only screen and (min-width: 1200px) {
  #employee-nav {
    position: relative;
    width: 300px;
    height: auto; }
    #employee-nav .employee-nav__list-box {
      padding: 30px 0; } }

@use "sass:math";
main {
  width: 100%;
  height: auto;
  background-color: #F1ECE7; }
  main #employee-add-service {
    display: flex; }
    main #employee-add-service .add-service {
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      background-color: white;
      width: calc(100% - 10px);
      height: auto;
      max-width: 1300px; }
      main #employee-add-service .add-service .add-service__content {
        display: flex;
        flex-direction: column;
        padding: 20px 5px 5px 5px; }
        main #employee-add-service .add-service .add-service__content .add-service__goback-button-row {
          display: flex;
          justify-content: flex-start;
          margin: 20px 0; }
          main #employee-add-service .add-service .add-service__content .add-service__goback-button-row .add-service__goback-button {
            display: flex;
            align-items: center;
            padding: 10px 7px;
            background: linear-gradient(to bottom, #e5f0f9, #dce8f2);
            border: 1px solid #bccad6;
            transition: 1s; }
            main #employee-add-service .add-service .add-service__content .add-service__goback-button-row .add-service__goback-button img {
              width: 18px;
              height: 18px;
              object-fit: contain;
              margin: 0 10px 0 5px; }
          main #employee-add-service .add-service .add-service__content .add-service__goback-button-row .add-service__goback-button:hover {
            filter: brightness(1.1);
            border: 1px solid #636b72;
            cursor: pointer; }
        main #employee-add-service .add-service .add-service__content .add-service__form {
          display: flex;
          flex-direction: column; }
          main #employee-add-service .add-service .add-service__content .add-service__form .input-group {
            display: flex;
            flex-direction: column;
            margin-top: 20px; }
            main #employee-add-service .add-service .add-service__content .add-service__form .input-group label {
              font-size: 15px;
              padding-bottom: 10px; }
            main #employee-add-service .add-service .add-service__content .add-service__form .input-group input,
            main #employee-add-service .add-service .add-service__content .add-service__form .input-group select {
              width: 100%;
              max-width: 300px;
              padding: 6px 5px;
              background-color: #dde5ee;
              outline: none;
              font-size: 14px; }
          main #employee-add-service .add-service .add-service__content .add-service__form .radio-group {
            display: flex;
            align-items: center;
            padding: 30px 0 0; }
            main #employee-add-service .add-service .add-service__content .add-service__form .radio-group label {
              font-size: 15px;
              width: 170px;
              font-weight: bold; }
            main #employee-add-service .add-service .add-service__content .add-service__form .radio-group input {
              margin-left: 10px; }
          main #employee-add-service .add-service .add-service__content .add-service__form button {
            margin-top: 30px;
            width: 150px;
            padding: 10px 20px;
            border-radius: 0 15px 15px 15px;
            cursor: pointer; }
          main #employee-add-service .add-service .add-service__content .add-service__form .add-service__icon-select-label {
            padding: 30px 0 10px; }
          main #employee-add-service .add-service .add-service__content .add-service__form .add-service__icon-list {
            display: flex;
            flex-wrap: wrap; }
            main #employee-add-service .add-service .add-service__content .add-service__form .add-service__icon-list .add-service__icon-box {
              width: 55px;
              height: 55px;
              background-color: #c6cbce;
              padding: 10px;
              margin: 4px;
              transition: 0.5s; }
              main #employee-add-service .add-service .add-service__content .add-service__form .add-service__icon-list .add-service__icon-box img {
                width: 100%;
                height: 100%;
                object-fit: contain; }
              main #employee-add-service .add-service .add-service__content .add-service__form .add-service__icon-list .add-service__icon-box:hover {
                background-color: #dfe9ee;
                cursor: pointer;
                padding: 7px; }
            main #employee-add-service .add-service .add-service__content .add-service__form .add-service__icon-list .add-service__icon-box--selected {
              background-color: #9bc7f1; }
              main #employee-add-service .add-service .add-service__content .add-service__form .add-service__icon-list .add-service__icon-box--selected:hover {
                background-color: #c1d7eb; }

@media only screen and (min-width: 768px) {
  main #employee-add-service .add-service .add-service__content {
    padding: 40px 25px 25px 25px; }
    main #employee-add-service .add-service .add-service__content .add-service__goback-button-row .add-service__goback-button {
      padding: 10px 20px; }
    main #employee-add-service .add-service .add-service__content .add-service__form .input-group {
      flex-direction: row;
      align-items: center; }
      main #employee-add-service .add-service .add-service__content .add-service__form .input-group label {
        padding-bottom: 0px;
        width: 150px;
        text-align: right;
        padding-right: 20px; }
    main #employee-add-service .add-service .add-service__content .add-service__form button {
      width: 180px;
      margin-left: 100px; } }
