#employee-nav {
  position: absolute;
  border-left: 3px solid #3d6bd6;
  z-index: 1; }
  #employee-nav .employee-nav__button-row {
    background-color: white; }
    #employee-nav .employee-nav__button-row .employee-nav__toggler {
      display: block;
      background-color: white;
      border: none;
      cursor: pointer;
      transition: 0.8s;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      box-shadow: 6px 6px 8px -2px rgba(187, 187, 187, 0.59);
      -webkit-box-shadow: 6px 6px 8px -2px rgba(187, 187, 187, 0.59);
      -moz-box-shadow: 6px 6px 8px -2px rgba(187, 187, 187, 0.59); }
  #employee-nav .employee-nav__toggler:hover {
    background-color: #769bf1;
    color: white; }
  #employee-nav .employee-nav__list-box {
    background-color: white;
    box-shadow: 6px 6px 8px -2px rgba(187, 187, 187, 0.59);
    -webkit-box-shadow: 6px 6px 8px -2px rgba(187, 187, 187, 0.59);
    -moz-box-shadow: 6px 6px 8px -2px rgba(187, 187, 187, 0.59); }
    #employee-nav .employee-nav__list-box ul {
      display: flex;
      flex-direction: column;
      list-style-type: none; }
      #employee-nav .employee-nav__list-box ul li {
        padding: 20px 30px;
        display: flex;
        align-items: center;
        transition: 0.8s; }
        #employee-nav .employee-nav__list-box ul li img {
          width: 20px;
          height: 20px;
          object-fit: cover; }
        #employee-nav .employee-nav__list-box ul li span {
          margin-left: 15px; }
        #employee-nav .employee-nav__list-box ul li:last-child {
          border-top: 1px solid #d3d7df; }
      #employee-nav .employee-nav__list-box ul li:hover {
        background-color: #769bf1;
        color: white;
        cursor: pointer; }

@media only screen and (min-width: 1200px) {
  #employee-nav {
    position: relative;
    width: 300px;
    height: auto; }
    #employee-nav .employee-nav__list-box {
      padding: 30px 0; } }

@use 'sass:math';
main {
  width: 100%;
  height: auto;
  background-color: #F1ECE7; }
  main #employee-dashboard {
    display: flex; }
    main #employee-dashboard .dashboard {
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      background-color: white;
      width: calc(100% - 10px);
      height: auto;
      max-width: 1300px;
      margin-left: 5px; }
      main #employee-dashboard .dashboard .dashboard__content {
        display: flex;
        flex-direction: column;
        padding: 40px 0; }
        main #employee-dashboard .dashboard .dashboard__content .dashboard__statistics-row {
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap; }
          main #employee-dashboard .dashboard .dashboard__content .dashboard__statistics-row .dashboard__statistics-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 250px;
            text-align: center;
            padding-bottom: 40px; }
            main #employee-dashboard .dashboard .dashboard__content .dashboard__statistics-row .dashboard__statistics-item img {
              width: 100px;
              height: auto;
              object-fit: contain; }
            main #employee-dashboard .dashboard .dashboard__content .dashboard__statistics-row .dashboard__statistics-item .dashboard__item-title {
              font-size: 17px;
              padding: 20px 0; }
            main #employee-dashboard .dashboard .dashboard__content .dashboard__statistics-row .dashboard__statistics-item .dashboard__item-value {
              padding: 10px 20px;
              border: 1px solid grey;
              color: #0a0aee; }
        main #employee-dashboard .dashboard .dashboard__content .dashboard__chart-box {
          padding: 50px 0; }

@media only screen and (min-width: 768px) {
  main #employee-dashboard .dashboard .dashboard__content .dashboard__statistics-row .dashboard__statistics-item {
    padding-bottom: 0px; }
  main #employee-dashboard .dashboard .dashboard__content .dashboard__chart-box {
    padding: 50px 30px; } }

@media only screen and (min-width: 1200px) {
  main #employee-dashboard .dashboard .dashboard__content .dashboard__chart-box {
    padding: 50px 50px; } }
